.platform-android .bar-subheader.has-tabs-top{
  top: 90px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top: 137px;
}

.platform-android .action-sheet {
  .icon {
    display: none;
  }
}