
.canvas-container {
  opacity: 0.7;
  position: absolute !important;
  height: 44vh;
  width: 56vw;
  top: 0;
  z-index: 0;
}

.content-wrapper{
    background-color: #444;
    height: 100vh;
    width: 100vw;
}

#big-video {
   // background-color: yellow;
    height: 100%;
    width: 100%;
    z-index: -100;
}

#small-video {
    border: 3px solid black;
    //background-color: green;
    max-height: 30vh;
    width: 20vw;
    position:absolute;
    left: 75vw;
    top: 80vh;
    z-index: 1000;
}

.controls {
    bottom: 20px;
    left: 5%;
    width: 10%;
    height: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .control-button {
        opacity: 0.8;
        width: 50px; /* 60*/
        height: 50px;
        font-size:45px;
        background: #305e84;
        border-radius: 50%;
        color: #fff;
        text-align:center;
        z-index: 100;

        &:active {
            opacity: 1;
        }

        &[disabled] {
            opacity: 0.5;
            -webkit-filter: grayscale(100%);
        }
    }



    .pause-button {
        font-size: 35px;
        padding-top: 6px;
    }

    .arrow-button {
        font-size: 35px;
        padding-top: 8px;

        &.ion-edit {
            font-size: 30px;
        }
    }

    .remove-button {
        background-color: #ffc900;
        font-size: 35px;
        padding-top: 8px;
    }

    .mute-button {
        font-size: 40px;
        padding-top: 5px;
    }

    .leave-button {
        padding-top: 3px;
        background-color: #ef473a;
        transform: rotate(136deg);
    }
}

.local-canvas-wrapper {
    //background-color: yellow;
}

.remote-canvas-wrapper {
   //background-color: green;
}

.canvas-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.remote-big {
    .local-canvas-wrapper {
        display: none !important;
    }
}

.local-big {
    .remote-canvas-wrapper {
        display: none !important;
    }
}
