.tabs-striped.tabs-positive .tab-item .badge {
    opacity: 1;
}

.call-log-list {
    .item {
        h2 {
            width: 50%;
            display: inline-block;
        }

        span {
            float: right;
        }

        &.not-seen {

            span {
                animation: notify-pulse 1.75s infinite;
                color: #ef473a;
            }

            h2 {
                animation: notify-pulse 1.75s infinite;
                color: #ef473a;
            }
        }
    }
}
