.tabs-striped.tabs-positive .tab-item .badge {
    opacity: 1;
}

@keyframes not-read-pulse {
    0%   { color: #ef473a;}
    50%  { color: black;  }
    100% { color: #ef473a; }
}

.call-log-list {
    .item {
        h2 {
            width: 40%;
            display: inline-block;
        }

        span {
            float: right;
        }

        p {
            display: inline;
        }

        .call-text {
            width: 50%;
            float: left;
        }

        .call-duration {
            float: right;
        }

        &.not-seen {
            span {
                animation: not-read-pulse 1.75s infinite;
                color: #ef473a;
            }

            h2 {
                animation: not-read-pulse 1.75s infinite;
                color: #ef473a;
            }
        }
    }
}
