.tabs-striped.tabs-positive .tab-item .badge {
    opacity: 1;
}

.call-log-list {
    .item {
        h2 {
            width: 50%;
            display: inline-block;
        }

        span {
            float: right;
        }

        &.not-seen {
            background-color: red;
        }
    }
}
