.stream-video {
  height: 44vh;
  width: 56vw;
  max-height: 44vh;
  max-width: 56vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.canvas-container {
  opacity: 0.5;
  position: absolute !important;
  height: 44vh;
  width: 56vw;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.canvas-container:nth-of-type(2) {
    margin-top: 44vh;
}

#local-canvas {
  background-color: rosybrown;

}

#remote-canvas {
  background-color: aqua;
}
