.search-bar {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-telephone {
  margin-left: 3px;
}

.contact-number {
    display: inline;
}

.contact-state {
    float: right;
    display: inline;
}

.list {
    .offline {
        img, p, h2 {
            filter: grayscale(0.3) saturate(1);
            opacity: 0.5;
        }

    }
}
