.search-bar {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-telephone {
  margin-left: 3px;
}

.contact-number {
    display: inline;
}

.contact-state {
    float: right;
    display: inline;
}
