.sar-header {
  font-size: 8em;
  font-weight: 800;
}

.login-wrapper {
  top: 50%;
  transform: translateY(50%);
}

.button-wrapper {
    margin-top: 10vh;
}

.tappable-header {
    &:active {
        background-color: #f5f5f5;
    }
}

@keyframes notify-pulse {
    0%   { opacity: 1;}
    50%  { opacity: 0.6;}
    100% { opacity: 1;}
}

.notify-pulse {
    animation: notify-pulse 1.75s infinite;
}
