{
    "extends": [
        "airbnb/legacy",
        "angular"
    ],
    plugins   : ["angular"],
    "env": {
        "angular/angular": true
    },
    "globals": {
        "cordova": true,
        "fabric": true,
        "_": true,
        "ContactField": true,
        "Promise": true
    },
    "rules": {
        "indent":  [2, 4],
        "max-len": [2, 120, 4],
        "func-names": 0,
        "default-case": 0,
        "no-param-reassign": 0,
        "no-multi-spaces": 0,
        "no-console": 0,
        "padded-blocks": [1, "always"],
        "key-spacing": 0,
        "angular/controller-as-route": 0
    }
}
