<ion-modal-view>
    <ion-header-bar class="bar-positive center">
        <h2 class="title">{{'ABOUT' | translate }}</h2>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <h3 class="title">{{'INFO' | translate }}</h3>
            {{'INFO_CONTENT' | translate}}
            <br>
            <br>
            {{'VERSION' | translate}}: {{::appVersion}}
        </div>
        <div class="padding">
            <h3 class="title">{{'CONTACT_INFO' | translate }}</h3>
            Learning Environments research group,
            <br>Aalto University School of Arts, Design and Architecture
            <br>
            <br>Aalto University
            <br>School of Arts, Design and Architecture
            <br>PO Box 31000
            <br>FI-00076 AALTO
            <br>FINLAND
        </div>
        <div class="settings-section">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        {{'WEBSITE' | translate}}:
                    </div>
                    <div class="col">
                         <a href="#" ng-click="openSoarSite()">http://soar.aalto.fi</a>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        {{'GIT_REPO' | translate}}:
                    </div>
                    <div class="col">
                        <a href="#" ng-click="openGitHub()">https://github.com/learning-layers/sardroid</a>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        {{'LAYERS_LINK' | translate}}:
                    </div>
                    <div class="col">
                        <a href="#" ng-click="openLayers()">http://learning-layers.eu</a>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="hideAboutPopup()" class="button button-block button-positive">Ok</button>
    </ion-content>
</ion-modal-view>
