<ion-modal-view>
    <ion-header-bar class="bar-positive center"><h2 class="title">{{'ADD_CONTACT' | translate }}</h2></ion-header-bar>
    <ion-content class="add-new-contact-form">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon name-icon ion-person placeholder-icon"></i>
                <input ng-model="newContact.displayName" type="text" placeholder="{{'DISPLAY_NAME' | translate}}">
            </label>
            <intlpn national-node="false" default-country="{{defaultCountry}}" ng-model="newContact.phoneNumber" placeholder="{{'MOBILE_NUMBER' | translate}}"></intlpn>

            <div class="row contact-button-wrapper">
                <div class="col col-33 cancel-button-col">
                    <button ng-click="cancelAddContact()" class="button button-block button-positive icon-left ion-chevron-left" translate="CANCEL"></button>
                </div>
                <div class="col col-66 add-button-col">
                    <button ng-click="addNewContactModalSubmit(newContact)" class="button button-block button-positive" translate="ADD"></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
