<ion-view view-title="{{'CALL_HEADER' | translate:user}}" hide-nav-bar="true" hide-back-button="true" ng-controller="CallCtrl">
    <ion-content class="padding" scroll="false">
    <div class="content-wrapper" id="local-wrapper">
        <video id="local-video" class="stream-video" autoplay muted="muted" ng-src="{{localStreamSrc}}"></video>
        <canvas id="local-canvas"></canvas>
    </div>

    <div class="content-wrapper" id="remote-wrapper">
        <video id="remote-video" class="stream-video" autoplay ng-src="{{remoteStreamSrc}}"></video>
        <canvas id="remote-canvas"></canvas>
    </div>
    </ion-content>
</ion-view>

<!-- <i class="icon call-button fullscreen-button" ng-class="determineFullscreenButtonClass()" ng-click="toggleFullscreen('local')"></i> -->
<!-- <i class="icon call-button fullscreen-button" ng-class="determineFullscreenButtonClass()" ng-click="toggleFullscreen('remote')"></i> -->
<!-- <i class="icon assertive ion-ios-telephone-outline call-button leave-button" ng-click="leave()"></i> -->
