<ion-view view-title="{{'CALL_HEADER' | translate:user}}" hide-nav-bar="true" hide-back-button="true" ng-controller="CallCtrl">
    <ion-content scroll="false">
        <div class="content-wrapper" id="local-wrapper" ng-class={{currentBigScreen}}>
        <video id="big-video" autoplay muted="muted" ng-src="{{bigStreamSrc}}"></video>
        <video id="small-video" autoplay ng-click="toggleFullscreen('local')" ng-src="{{smallStreamSrc}}"></video>
        <canvas id="local-canvas" class="hide"></canvas>
        <canvas id="remote-canvas" class="hide"></canvas>
    </div>
    </ion-content>
</ion-view>

<!-- <i class="icon call-button fullscreen-button" ng-class="determineFullscreenButtonClass()" ng-click="toggleFullscreen('local')"></i> -->
<!-- <i class="icon call-button fullscreen-button" ng-class="determineFullscreenButtonClass()" ng-click="toggleFullscreen('remote')"></i> -->
<!-- <i class="icon assertive ion-ios-telephone-outline call-button leave-button" ng-click="leave()"></i> -->
