<ion-view view-title="{{'CALL_LOG' | translate}}" ng-cloak>
    <ion-content class="padding has-header">
        <div class="list call-log-list">
            <div ng-repeat="call in calls">
                <a href="#" class="item" ng-class="{ 'not-seen': call.hasBeenSeen }">
                    <h2>{{::call.userInfo}}</h2>
                    <span>{{::call.startedAt | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
                    <p>{{::call.text}}</p>
                </a>
            </div>
        </div>
        <div class="list" ng-hide="calls.length > 0">
            <a class="item no-results" href="#">
                <h2>{{'NO_CALLS_MADE' | translate}}</h2>
            </a>
            <ion-infinite-scroll
                ng-if="haveAllCallsBeenLoaded == false"
                on-infinite="loadMoreCalls()"
                distance="1%">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>

