<ion-view view-title="{{'CONTACTS' | translate}} - {{user.phoneNumber | formatNumber }}" ng-cloak>
    <ion-header-bar class="bar-light bar-subheader has-tabs-top search-bar">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="{{'SEARCH' | translate}}" ng-model="contactSearch" ng-keyup="searchKeyPress($event.keyCode)">
            </label>
        </div>
    </ion-header-bar>
    <ion-content class="padding has-header has-subheader" ng-class="preloaderClass">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <div class="list">
            <div ng-repeat="contact in filteredContacts = (contacts | filter:contactSearch)">
                <div class="contact-wrapper" ng-class="contact.currentState">
                    <a class="item item-avatar" href ng-click="selectUser(contact)">
                        <img src="{{contact.photo}}">
                        <h2>{{contact.displayName}}</h2>
                        <p class="contact-number"><i class="icon ion-ios-telephone contact-telephone"></i> {{contact.phoneNumber | formatNumber}}</p>
                        <p class="contact-state"> {{'CONTACT_CURRENT_STATE' | translate}}  {{contact.currentState}}</p>
                    </a>
                </div>
            </div>
            <button ng-click="addNewContact()" class="button button-block button-positive icon-right ion-person-add" translate="ADD_CONTACT"></button>
        </div>
        <div class="list" ng-show="filteredContacts.length == 0 && contacts.length > 0">
            <a class="item no-results" href="#">
                <h2>{{'NO_CONTACTS_SEARCH' | translate}}</h2>
            </a>
        </div>
        <div class="list" ng-hide="contacts.length > 0">
            <a class="item no-results" href="#">
                <h2>{{'NO_CONTACTS_FOUND' | translate}}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>

