<ion-view view-title="Contacts - {{user.phone}}" ng-cloak>
    <ion-header-bar class="bar-light bar-subheader has-tabs-top search-bar">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="contactSearch" ng-keyup="searchKeyPress($event.keyCode)">
            </label>
        </div>
    </ion-header-bar>
    <ion-content class="padding has-header has-subheader">
        <div ng-repeat="contact in contacts | filter:contactSearch" class="list">
            <a class="item item-avatar" href ng-click="selectUser(contact)">
                <img src="{{contact.photo}}">
                <h2>{{contact.displayName}}</h2>
                <p><i class="icon ion-ios-telephone contact-telephone"></i>  {{contact.number}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
