<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="padding center">
        <div class="row">
            <div class="col text-center">
                <h1 class="sar-header positive">SAR</h1>
            </div>
        </div>
        <div>
            <div class="list list-inset padding-vertical login-form">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-ios-telephone placeholder-icon"></i>
                        <input type="text" placeholder="{{'MOBILE_NUMBER' | translate}}" required ng-model="user.phone" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="password" placeholder="{{'PASSWORD' | translate}}" required ng-model="user.password" >
                    </label>
                    <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="login(user)" translate="LOGIN">
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <h1 class="title positive" ><i class="icon ion-ios-information"></i> {{'LOST_PASSWORD' | translate}}</h1>
    </ion-footer-bar>
</ion-view>

