<ion-view view-title="Register" hide-nav-bar="false">
    <ion-content class="padding flex-container flex-container-center center">
        <div class="full-width  card">
            <div class="item item-divider text-center">
                {{'REGISTER_NUMBER_HEADER' | translate}}
            </div>
            <div class="item item-text-wrap">
                {{'REGISTER_NUMBER_TEXT' | translate}}
            </div>
        </div>
        <div>
            <div class="list list-inset padding-vertical login-form">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="text" placeholder="{{'VERIFY_CODE' | translate}}" ng-model="newUser.code" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="newUser.password" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="password" placeholder="{{'PASSWORD_AGAIN' | translate}}" ng-model="newUser.passwordAgain" >
                    </label>
                    <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="register(newUser)" translate="REGISTER"></button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>

