<ion-view view-title="Register / Reset password" hide-nav-bar="false">
    <ion-content class="padding flex-container flex-container-center center">
        <div class="full-width  card">
            <div class="item item-divider text-center">
                {{headerTranslation | translate}}
            </div>
            <div class="item item-text-wrap">
                {{textTranslation | translate}}
            </div>
        </div>
        <div>
            <div class="list list-inset padding-vertical login-form">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="text" placeholder="{{'VERIFY_CODE' | translate}}" ng-model="user.code" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="user.password" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked placeholder-icon"></i>
                        <input type="password" placeholder="{{'PASSWORD_AGAIN' | translate}}" ng-model="user.passwordAgain" >
                    </label>
                    <button ng-disabled='isSignUpButtonDisabled' class="button button-block button-positive icon-right ion-chevron-right" ng-click="submit(user)" translate="{{buttonTranslation}}"></button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>

