<ion-view view-title="{{'SETTINGS' | translate}}">
    <ion-content class="padding flex-container ">
        <div class=" settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'MISCALLENEOUS' | translate}}
            </div>
            <div class="item item-text-wrap">
                <button  ng-click='updateContactsList()' class="button button-block button-positive icon-right ion-chevron-right" translate="REFRESH_CONTACTS"></button>
            </div>
        </div>
        <div class="settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'RECORDING_PREFERENCES' | translate}}
            </div>
            <div class="item item-text-wrap">
                <ion-toggle ng-model="settings.saveCalls" ng-click="toggleVideoSave(settings.saveCalls)" toggle-class="toggle-positive">
                    {{'PREFERENCES_SAVE_CALLS' | translate}}
                </ion-toggle>
            </div>
        </div>
        <div class="settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'ABOUT' | translate}}
            </div>
            <div class="item item-text-wrap">
                <h3>{{'VERSION' | translate}}: {{::appVersion}}</h3>
            </div>
        </div>
    </ion-content>
    </ion-footer-bar>
</ion-view>

