<ion-view view-title="{{'SETTINGS' | translate}}">
    <ion-content class="padding flex-container ">
        <div class=" settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'MISCALLENEOUS' | translate}}
            </div>
            <div class="item item-text-wrap">
                <button  ng-click='updateContactsList()' class="button button-block button-positive icon-right ion-chevron-right" translate="REFRESH_CONTACTS"></button>
            </div>
        </div>
        <div class="settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'RECORDING_PREFERENCES' | translate}}
            </div>
            <div class="item item-text-wrap">
                <ion-toggle ng-model="settings.saveCalls" ng-click="toggleVideoSave(settings.saveCalls)" toggle-class="toggle-positive">
                    {{'PREFERENCES_SAVE_CALLS' | translate}}
                </ion-toggle>
            </div>
            <div class="item item-text-wrap">
                <div class="row responsive-md">
                    <div class="col col-50">
                        <label class="item item-input">
                            <span class="input-label">{{'RECORDING_FPS' | translate}}</span>
                            <input type="tel" ng-model="settings.recordingInterval">
                        </label>
                    </div>
                    <div class="col col-offset-25 col-25">
                        <button class="float-right button button-assertive icon-left ion-ios-trash" ng-click="emptyCallDataDir()" translate="DELETE_CACHED_VIDEOS"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-section full-width-vw">
            <div class="item item-divider text-center">
                {{'ABOUT' | translate}}
            </div>
            <div class="item item-text-wrap">
                <h3>{{'VERSION' | translate}}: {{::appVersion}}</h3>
            </div>
        </div>
    </ion-content>
    </ion-footer-bar>
</ion-view>

