<ion-view view-title="Sign up" hide-nav-bar="true">
    <ion-content class="padding center">
        <div>
            <div class="card">
                <div class="item item-divider text-center">
                    {{'VERIFY_NUMBER_HEADER' | translate}}
                </div>
                <div class="item item-text-wrap">
                    {{'VERIFY_NUMBER_TEXT' | translate}}
                </div>
            </div>
            <div class="list list-inset padding-vertical login-form">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-ios-telephone placeholder-icon"></i>
                        <input type="text" placeholder="{{'MOBILE_NUMBER' | translate}}" required ng-model="user.phone" >
                    </label>
                        <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="signup(user)" translate="VERIFY_NUMBER"></button> 
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>

