<ion-view view-title="Verify your number" hide-nav-bar="false">
    <ion-content class="padding flex-container flex-container-center  center">
        <div>
            <div class="card">
                <div class="item item-divider text-center">
                    {{'VERIFY_NUMBER_HEADER' | translate}}
                </div>
                <div class="item item-text-wrap">
                    {{'VERIFY_NUMBER_TEXT' | translate}}
                </div>
            </div>
            <div class="list list-inset padding-vertical login-form">
                <form>
                    <label class="item item-input">
                        <i class="icon ion-ios-telephone placeholder-icon"></i>
                        <input type="tel" placeholder="{{'MOBILE_NUMBER' | translate}} (+358 40 1234568)" ng-model="phone" >
                    </label>
                        <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="signup(phone)" translate="VERIFY_NUMBER"></button> 
                </form>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" ng-click="goToRegister()">
        <h1 class="title positive">{{'VERIFY_EXIST' | translate}}</h1>  
    </ion-footer-bar>
</ion-view>

